/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    box-sizing: border-box;
    }
*, *:before, *after {
    box-sizing: inherit;
    }

body {
    max-width: 100%;
    }

p {
    font-size: 1.4em;
    padding: 1em;
    }

/* MAIN NAVIGATION */

.nav-bar {
    background-color: #000;
    color: #fff;
    padding: 1em;
    position: fixed;
    width: 100%;
    z-index: 5;
    }

.nav-bar h1 {
    font-size: 1.7em;
    text-transform: uppercase;
    float: left;
    margin: 0;
    }

.nav-bar i {
    position: fixed;
    right: 1em;
    top: 1.5em;
    color: #fff;
    z-index: 3;
    }

/* HEADER */

.header {
    background-position: auto;
    position: relative;
    }

.header img {
    display: block;
    width: 100%;
    position: relative;
    height: 30em;
    }

.header .photo-content {
    background-position: auto;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    }

.header h1 {
    font-size: 4em;
    color: #fff;
    }

.header .subtext {
    display: inline-block;
    color: #fff;
    border: 0.2em solid white;
    font-size: 1.5em;
    padding: 0.6em 1em;
    text-decoration: none;
    }

.header a {
    color: #fff;
    text-decoration: none;
    }

.header a:hover {
    color: #000;
    }

.header .subtext:hover {
    background-color: #fff;
    }

/* MAIN CONTENT */

.main-content {
    margin-top: 1em;
    }

.main-content h2 {
    padding: 1em;
    margin-top: 0em;
    }

/* LATEST WORK */

.latest-work {
    position: relative;
    float: left;
    clear: none;
    overflow: hidden;
    width: 100%;
    padding: 0.1em;
    }

.latest-work img {
    max-width: 100%;
    background-color: #fff;
    opacity: .3;
    padding: 2em;
    }

.latest-work ul {
    list-style: none;
    padding: 0;
    }

.latest-work li {
    width: 49.5%;
    margin-right: .5%;
    margin-bottom: .5%;
    float: left;
    position: relative;
    }

.latest-work figcaption {
    text-decoration: none;
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    width: 100%;
    }

.latest-work figcaption:hover {
    color:#fff;
    }

.latest-work img:hover {
    background-color: none;
    color: #fff;
    opacity: 1;
    }

.latest-work a:visited {
    color:#000;
    }

.latest-work a {
    text-decoration: none;
    color:#000;
    }

/* Footer */

.footer {
    border-top: 2px solid #d6d6d3;;
	text-align: center;
	clear: both;
	padding: 1em;
	font-size: 1em;
}

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
